@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;
}

@layer utilities {
  .animate::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .animate::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .animate::-webkit-scrollbar-thumb {
    background: #888;
  }

  .animate::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
